<input
  type="search"
  name="searchTerm"
  id="searchTerm"
  placeholder="Search products"
  required
/>
<button class="search-icon" type="submit">
  <i class="fa-solid fa-magnifying-glass"></i>
</button>
